server:
  port: 8080

spring:
  application:
    name: api-gateway

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: "org.apache.kafka.common.serialization.StringSerializer"
      value-serializer: "org.springframework.kafka.support.serializer.JsonSerializer"
      acks: all
      retries: 10
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connections: 5
        transactional.id: api-gateway-tx

management:
  endpoints:
    web:
      exposure:
        include: health,info